*,
body {
  padding: 0;
  margin: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

#header {
  height: 20vh;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 60%;
  height: auto;
  border-radius: 1em;
  padding-left: 1.2em;
}

#content {
  background-color: skyblue;
  height: 80vh;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

#location-weather {
  background-color: bisque;
  margin-top: 16px;
  padding: 1em;
}
